body{
    background-color: #ffffff;
    font-family: 'Raleway', sans-serif;
}
.container {
    width: 400px;
    margin: 0 auto;
    color: #7e7e7e;
}

.board {
    width: 400px;
    height: 600px;
}

.cell {
    width: 130px;
    height: 100px;
    float: left;
    padding-top: 50px;
    font-size: 200%;
    text-align: center;
}

.container > h2 {
    margin-top: 20px;
    text-align: center;
}

.cell:nth-child(-n+3){
    border-bottom: 1px solid #bebebe;
}

.cell:nth-child(-n+6){
    border-bottom: 1px solid #bebebe;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(4),
.cell:nth-child(5),
.cell:nth-child(7),
.cell:nth-child(8){
    border-right: 1px solid #bebebe;
}

.start-game, .reset-game {
    margin: 20px 20px;
    padding: 10px 15px;
    background: #bfbdc1;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;    
}

.start-game:hover, .reset-game:hover{
    background: #979699;
    text-decoration: none;
}